.monospace {
  font-family: monospace;
}
a.white-text {
  color: white;
}
tr.no-row-border td {
  border: none;
}
pre.terminal {
  background-color: black;
  color: green;
}
.reveal section img.no-border {
  border: none;
  box-shadow: none;
}
